[Unit]
Description=Script to start Boodskap IoT Platform
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/start-boodskap.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
