[Unit]
Description=Script to start EMQX Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/start-emqtt.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
